.App {
  background-color: #282c34;
  background-image: url("images/background.jpg");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  font-size: calc(10px + 2vmin);
}

h2 {
  margin-left: 10%;
  padding-top: 5%;
}
